body{
	font-family: 'Amiko';
	background-color: #fafafa;
}

.modal-backdrop.show{
	background-color: #fff59d;
}

#navbar-brand-mob{
	display: none;
	color: white;
}
#what-is-mob{
	display: none;
}
#no-hardware-issues-mob{
	display: none;
}

#navbar-brand-desk{
	display: visible;
	color: white;
}
#what-is-desk{
	display: visible;
}

@media only screen and (max-width: 600px) {
  #navbar-brand-desk{
  	display: none;
  }
  #what-is-desk{
  	display: none;
  }


  #navbar-brand-mob{
	display: inline-block;
  }
  #what-is-mob{
  	display: inline-block;
  }
  #no-hardware-issues-mob{
  	display: inline-block;
  }
}

.navbar{
	background-color: #F47637;
	color: white;
}

a{
	text-decoration: none;
}

.blue-col{
	background-color: #1D5A8E;
}

.orange-col{
	background-color: #F47637;
}

.yellow-col{
	background-color: #FFF855;
}

#what-is-h3{
	color: #fafafa;
}

#description{
	/*background-color: #F47637;*/
	background-color: #fff9c4;
	color: #fafafa;
	padding-left: 100px;
	padding-right: 100px;
}

#no_hardware_issues{
	margin-left: 200px;
	margin-right: 200px;
}

#for-who{
	color: #1D5A8E;
	/*background-color: #fff3e0;*/
	background-color: #e3f2fd;
}

.quad-la{
	background-color: #F47637;
	margin: 10px;
	padding: 10px;
}

.quad-az{
	background-color: #1D5A8E;
	margin: 10px;
	padding: 10px;
}

.quad-am{
	background-color: #FFF855;
	margin: 10px;
	padding: 10px;
}

.img{
	display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}